name: Build & Push
on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: choser
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Load and push image
        run: |
          docker load -i aiseceval_cve-2016-4489.tar
          docker build -t choser/aiseceval_cve-2016-4489:latest -f .
          docker push choser/aiseceval_cve-2016-4489:latest
